@import 'tailwindcss';

body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin-top: 6rem;
  font-family: system-ui, sans-serif;
}

.logo-title {
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}
