
#form, #form_reg {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 300px;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #3e3e3f;
}

#submit_btn {
  width: 150px;
}

.login {
  margin: 8px 0;
  padding: 8px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #b4b2b2;
}
.register {
  margin: 8px 0;
  padding: 8px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #b4b2b2;
}